@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #231F20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-display: var(--font-barlow-condensed);
  --color-yellow-brand: #F5C800;
  --color-dark-brand: #231F20;
  --color-purple-brand: #7968C0;
  --color-cream: #FBF6EC;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
